@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #434750;
}

h1{
    text-align: center;
    color: #fff;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, .3);
    transform: skewY(-15deg) translateX(-100%) translateY(-50%);
}

ul{
    position: relative;
    transform: skewY(-15deg);
    margin-top: 5%;
    margin-right: 10%;
}

ul li{
    position: relative;
    list-style: none;
    width: 200px;
    background: #3e3f46;
    padding: 15px;
    transition: 0.5s;
}

ul li:hover{
    background-color: #33a3ee;
    transform: translateX(-50px);
}

ul li:hover::before{
    background-color: #1f5378;
}

ul li:hover::after{
    background-color: #33a3ee;
}

ul li::before{
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #2e3133;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

ul li::after{
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #35383e;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}

ul li a{
    text-decoration: none;
    color: #999;
    display: block;
    text-transform: uppercase;
    transition: 0.5s;
}

ul li:hover a{
    color: #fff;
}

ul li:last-child::after{
    box-shadow: -100px 100px 20px rgba(0, 0, 0, .3);
}

.trimestre li:first-child::after{
    content: 'Trimestre';
    text-align: center;
    font-size: 25px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    transition: 0.5s;
}

.pentamestre li:first-child::after{
    content: 'Pentamestre';
    text-align: center;
    font-size: 25px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    transition: 0.5s;
}