<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ricerca parametri</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body ng-app="myApp">
    <div ng-controller="MainController" class="container">
      <input
        type="text"
        ng-model="searchText"
        placeholder="Cerca per nome..."
        class="search-bar"
      />
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th style="width: 30%">Nome</th>
              <th style="width: 20%">Città</th>
              <th style="width: 30%">Lavoro</th>
              <th style="width: 30%">Stipendio</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="persona in (people | filter:searchText)">
              <td>{{ persona.nome }}</td>
              <td>{{ persona.citta }}</td>
              <td>{{ persona.lavoro }}</td>
              <td>{{ persona.stipendio }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script>
    angular
      .module("myApp", [])
      .controller("MainController", function ($scope, $http) {
        $scope.people = [];

        $http.get("data.json").then(function (response) {
          $scope.people = response.data;
        });
      });
  </script>
</html>
